@import '../node_modules/bootstrap/scss/functions';


//Globals - Taken from variables file - unnaffected by anything
$enable-gradients: true !default;
$enable-negative-margins: true !default;

//Theme colours
$primary: rgb(50, 51, 56);

$secondary: rgb(180, 44, 180);



//Spacing
$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 2,
    5: $spacer * 4,
    6: $spacer * 6,
);

//Radius

$border-radius: 2rem;
$border-radius-sm: .25rem;
$border-radius-lg: 50rem;
$border-radius-xl: 20rem;
$border-radius-2xl: 2rem;
$border-radius-pill: 50rem;

//Variables
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

//Custom colours
$custom-colors: (
    "contrast": rgb(255, 255, 0),
);

//merge
$theme-colors: map-merge($theme-colors, $custom-colors );
$theme-colors: map-remove($theme-colors, "danger", "warning", "success", "info");


@import '../node_modules/bootstrap/scss/bootstrap.scss';